
@{
    ViewBag.Title = "GetBook";
}

<form method="post" action="GetBook">
    <p>name of book</p>
    <input type="text" name="title" placeholder="War and peace"/>
    <p>Author</p>
    <input type="text" name="author" placeholder="L. N. Tolstoi"/>
    <input type="submit" value="send"/>
</form>

