#mainBody {
    background-color: darkcyan;
    margin: 0;
    padding: 0;
}

#btn {
    margin-top: 10px;
    margin-left: 35vw;
    width: 4vw;
    height: 3vh;
}

#main {
    background-color: aqua;
    width: 100vw;
    height: 30vw;
    display: flex;
    justify-content: space-around;
}

#main img{
    width: 23vw;
    height: 17vw;
    border-radius: 10%;
    display: inline-block;
    margin-top: 5vh;
}

#main img:hover{
    width: 27vw;
    height: 21vw;
    transition: all ease-in-out 1s;
}

#x, #y, #getFunAnswer {
    width: 3vw;
    height: 1.5vw;
    margin-top: 10px;
}

#funTest {
    position: absolute;
}

#getFunAnswer {
    float: right;
}